.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  position: relative;
}

.icon:hover {
  transform: scale(1.2);
  animation: grow 0.6s;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.label {
  margin-left: 0.5rem;
}

.img {
  height: 1.4rem;
  width: auto;
  object-fit: scale-down;
}

.badge {
  background-color: red;
  padding: 0.1rem 0.3rem;
  border-radius: 25px;
  font-weight: bold;
  font-size: 0.8rem;
  position: absolute;
  bottom: 1.4rem;
  left: 1rem;
}

.invisible {
  display: none;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.8);
  }
  30% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1.4);
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
