.form-wrapper {
  margin-top: 2rem;
  padding: 1.2rem;
  width: 57%;
  background-color: #7c7c7b;
  border: 2px solid yellow;
  border-radius: 4px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  animation: slide-in-right 1s ease-in;
}

@keyframes slide-in-right {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.title {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.rating {
  display: flex;
}

.rating div {
  margin-right: 1rem;
}

.buttons {
  margin-top: 1.5rem;
  display: flex;
  justify-content: end;
}

.buttons div {
  font-size: 0.8rem;
}
