.container {
  margin: 0.8rem 0;
}

.container label,
input,
textarea,
select {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.container label {
  color: white;
  padding: 0;
  padding-left: 0.5rem;
}

.container input,
.container textarea,
.container select {
  color: black;
  background: white;
  border-radius: 4px;
  padding: 0.65rem;
  padding-left: 0.8rem;
  box-shadow: inset rgb(171, 172, 173) 0px 20px 30px -10px;
}

.container input {
  height: 1.9rem;
}

.container option {
  color: black;
}

.container input:focus,
.container textarea:focus,
.container select:focus {
  border: 2px solid yellow;
}

.container div {
  min-height: 13.6px;
  height: 13.6px;
}

.container p {
  color: red;
  padding-left: 0.5rem;
  font-size: 0.8rem;
  margin: 0;
}
