h1 {
  margin-top: 0rem;
  margin-left: 0.6rem;
  margin-bottom: 0rem;
}

.carousel-container {
  width: 95%;
  margin-bottom: 2rem;
}

.slick-list {
  padding: 0 20% 0 0 !important;
}

.products-container {
  width: 95%;
  margin-bottom: 2rem;
}

@media (max-width: 1512px) {
  .products-container {
    width: 85%;
  }
}

@media (max-width: 1370px) {
  .products-container {
    width: 90%;
  }
}

@media (max-width: 1282px) {
  .products-container {
    width: 95%;
  }
}

@media (max-width: 1219px) {
  .products-container {
    width: 75%;
  }
}

@media (max-width: 1160px) {
  .products-container {
    width: 80%;
  }
}

@media (max-width: 1090px) {
  .products-container {
    width: 85%;
  }
}

@media (max-width: 1026px) {
  .products-container {
    width: 90%;
  }
}

@media (max-width: 966px) {
  .products-container {
    width: 95%;
  }
}
