.product-wrapper {
  display: flex;
  align-items: center;
  max-width: 1200px;
  background-color: #7c7c7b;
  border: 2px solid yellow;
  border-radius: 4px;
  padding: 1rem;
  /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
  /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.product-info {
  display: flex;
  align-items: center;
  width: 70%;
}

.image-wrapper {
  width: 50%;
  max-height: 25rem;
  overflow: hidden;
}

.image-wrapper img {
  max-height: 23rem;
  width: 100%;
  object-fit: scale-down;
}

.info-wrapper {
  width: 50%;
  margin: 1rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.title {
  border-bottom: 2px solid yellow;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.rating {
  border-bottom: 2px solid yellow;
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating p {
  display: inline-block;
  margin-left: 2rem;
}

.description {
  text-align: center;
}

.order-info-form {
  width: 30%;
  /* margin-top: 2rem; */
}

.order-info-form table {
  table-layout: fixed;
  width: 100%;
  /* border: 2px solid; */
  border-radius: 4px;
  border-collapse: collapse;
  border: 2px solid yellow;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.order-info-form th {
  text-align: left;
  border-bottom: 2px solid;
  border: 2px solid yellow;
  padding-left: 0.8rem;
}

.order-info-form td {
  text-align: left;
  height: 3rem;
  border-bottom: 2px solid;
  border: 2px solid yellow;
  padding-left: 0.8rem;
}

.order-info-form td input {
  width: 55%;
  height: 1.5rem;
  color: black;
}

.bounce-in-right {
  animation: bounce-in-right 1s ease-in;
}
@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
