.login-menu {
  height: 6rem;
  width: 19rem;
  position: fixed;
  top: 0rem;
  right: 11rem;
  background-color: #636363;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: 2px solid #ffea00;
  border-radius: 10px;
  z-index: 10;
  transform: translateY(3.6rem);
  /* animation: show-modal 0.3s; */
}

.message {
  font-size: 0.8rem;
  margin: 1rem 0;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* @keyframes show-modal {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(3.6rem);
  }
} */

/* .triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid yellow;
} */
